<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>You lost!</h1>
        <h2 class="losertext">The word was {{word}}</h2>
        <a href="/restartGame"> Play Again </a>
    </body>
</html>
