<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>You Won</h1>
        <a href="/restartGame"> Play Again </a>
    </body>
</html>
