* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    color: white;
    background: black;
}

.page {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(186,163,63), rgb(238,78,252));
    background-size: cover;
    -webkit-transition: all 1s;
}

h1,h3,h4 {
    text-align: center;
    padding: 1rem;
}

.guessStringContainer {
    text-align:center;
    font-size: 3rem;
    letter-spacing: 1rem;
    background: rgba(0,0,0,.5);
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

.guessedLettersContainer {
    display: flex;
    flex-flow: row-wrap;
    font-size: 2rem;
}

.guessedLettersContainer > * {
    padding: 0 .5rem;
}

.counter {
    font-size: 2rem;
}

h2 {
    padding: 1rem;
}

a {
    color: white;
    display: block;
    text-align: center;
}


.loserText {
    text-align: center;
}
